/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

header nav {
  height: 100px;
}
button a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 6%;
}
header .btn a {
  color: white;
  background-color: #00a651;
  box-shadow: 1px 2px rgb(113, 113, 113);
  height: 45px;
}




/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
