/* Box Model Hack */
* {
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
}
section {
  padding: 0rem 4rem;
}
nav {
  width: 100%;
  margin-bottom: 2rem;
}
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

header nav {
  min-height: 10%;
}

section form {
  width: 80%;
  padding-left: 4rem;
  padding-bottom: 5rem;
}

section ul {
  width: 80%;
  padding-top: 2rem;
}

.taskCards {
  padding-bottom: 3rem;
  width: 20rem;
}

section ul {
  padding-bottom: 5rem;
}

h2 {
  text-align: center;
}
/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
