/* Box Model Hack */
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
section {
  padding: 0rem 4rem;
}
nav {
  width: 100%;
  margin-bottom: 2rem;
}
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

header {
  min-height: 10%;
  background-color: rgba(240, 240, 240, 0.328);
  text-align: center;
}
img {
  margin: 1rem;
}
section form {
  width: 80%;
  padding-left: 4rem;
  padding-bottom: 5rem;
}

section ul {
  width: 80%;
  padding-top: 2rem;
}

.taskCards {
  padding-bottom: 3rem;
  width: 20rem;
}

section ul {
  padding-bottom: 5rem;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 1.5rem;
}

.delete-button {
  background-color: #f07470;
  border: none;
}
/* .test:hover {
  background-color: #dc1c13;
} */
.hide-alert {
  background-color: white;
  border: none;
}
.container {
  padding: 3rem;
  font-size: 1.2rem;
}
p {
  text-align: center;
  font-size: 1.5rem;
}
/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
